$color-btn:#004d99;
$color-btn-active:#0066cc;
$color-white:#ffff;
$color-error: #ff0000;
$color-gray:#e6e6e6;
$color-gray-1:#8c8c8c;
$color-gray-2: #cccccc;
//font
@font-face {
    src: url("../assets/fonts/IRANSansMobile.ttf");
    font-family: "IranSans";
}

//responsive 
$bp-largest: "1240px";
$bp-large: "1000px";
$bp-medium: "900px";
$bp-small: "600px";
$bp-smallest: "500px";
$bp-smallest-1: "470px";